<!DOCTYPE html>
<html lang="en" ng-app="ToDoLists">
  <head>
    <meta charset="utf-8">
    <title>TodoList</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoListController.js"></script>
  </head>
  <body class="container" ng-controller="ToDoListController as listCtrl">
    <form>
      <input ng-model="listCtrl.taskName" type="text" placeholder="What do you need to do?">
      <input ng-model="listCtrl.taskDescription" type="text">
      <input ng-click="listCtrl.getTasks(); listCtrl.clearInputBox()" class="btn save" type="submit" value="Save">
    </form>
    <a id="all" ng-click="listCtrl.filterTasks()">All</a>
    <a id="active" ng-click="listCtrl.filterTasks(false)">Active</a>
    <a id="completed" ng-click="listCtrl.filterTasks(true)">Completed</a>
    <ul>
      <li ng-repeat="task in listCtrl.filtered" ng-class="listCtrl.className(task)">
        <input type="checkbox" id="checkbox{{$index}}" ng-model="task.complete">
        {{task.name}}
        <input type="submit" class="btn" id="delete{{$index}}" value="Delete" ng-click="listCtrl.deleteTask(task)">
      </li>
      <!-- <li>{{task.complete}}</li> -->
      <!-- <li>{{task.description}}</li> -->
    </ul>
    <div id="remainingTasks">{{listCtrl.countTasks()}}</div>
  </body>
</html>
